<!DOCTYPE html>
<html>
    <meta charset='UTF-8'>
    <title>{% block title %}Smart-Id{% endblock%}</title>
 <head>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bd-light">
        <a class="navbar-brand" href="/">Smart-Id</a>
        <button
            class= "navbar-toggler"
            type= "button"
            data-toggle= "collapse"
            aria-controls= "navbarNav"
            aria-expanded="false"
            aria-label="Toggle-navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container mt-3">
            {% block content %} {% endblock %}
        </div>

    </nav>
</body>
</html>