{% extends 'sesion.html' %}
{% block title %}Computadoras{%endblock%}
{%load crispy_forms_tags%}
{%block content%}

<style>
    * {
        box-sizing: border-box;
    }
    form {
        padding: 1em;
        background: #f9f9f9;
        border: 1px solid #c1c1c1;
        margin-top: 2rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(206, 161, 204);
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 8px 8px 8px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: #d5fcff;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    .tooltips-gray {

        background: #cadce4;
        color: #FFFFFF;
        text-align: center;
        padding-top: 4px;
    }

    .round-a-gray {
        background: #444444 url(img/round_gray-left.png) left top no-repeat;
        color: #FFFFFF;
        text-align: center;
    }

    .round-a-gray div {
        background: url(img/round_gray-right.png) right bottom no-repeat;
        padding: 4px;
    }

    input[type=submit]:hover {
        background-color: #45a049
    }
    


    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {

        .col-25,
        .col-75,
        input[type=submit] {
            width: 50%;
            margin-top: 0;
        }
    }
</style>
{%if messages%}
{%for message in message%}
{%if 'info' in messages.tags%}
<div class="round-a-gray">{{message}}</div>
{%endif%}
{%endfor%}


{%endif%}

<form action="" method="POST">
    <h1>Solicitar equipo</h1>

    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-info">Enviar</button>
</form>
{%endblock content%}

